@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #05A3B3;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  min-height: 100%;
}

.banner {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.banner::before {
  content: "";
  width: 100%;
  height: 38px;
  background: #05A3B3;
  display: block;
  position: relative;
  z-index: 50;
}

.banner::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 756px;
  background: url(./../images/banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: -20px;
  right: 18%;
  z-index: 1;
}

.banner .banner-content {
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 75px;
  padding-right: 75px;
  position: relative;
  z-index: 50;
}

.banner .banner-content .logo {
  width: 90%;
  max-width: 656px;
  padding-bottom: 15px;
  margin: auto;
}

.banner .banner-content .logo img {
  width: 100%;
}

.banner .banner-content .black-text {
  max-width: 1200px;
  margin: auto;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 59px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 40px;
}

.banner .banner-content .blue-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #61C3D9;
  margin: auto;
  max-width: 700px;
  text-align: center;
}

.whatSreda {
  padding-top: 90px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.whatSreda .bg-circle1 {
  position: absolute;
  z-index: 1;
  display: block;
  background: url(./../images/whatSreda-bg1.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  bottom: 0px;
  left: 0px;
  width: 575px;
  height: 740px;
}

.whatSreda .bg-circle2 {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  background: url(./../images/whatSreda-bg2.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  bottom: 0px;
  left: 0px;
  width: 578px;
  height: 639px;
}

.whatSreda .bg-rhomb1 {
  position: absolute;
  width: 191px;
  height: 192px;
  top: 90px;
  right: 50px;
  background: url(./../images/blue-rhomb.svg);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 55;
}

.whatSreda .bg-rhomb2 {
  position: absolute;
  width: 191px;
  height: 192px;
  bottom: 94px;
  right: -50px;
  background: url(./../images/blue-rhomb.svg);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 55;
}

.whatSreda .whatSreda-content {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 50;
}

.whatSreda .whatSreda-content .whatSreda-header {
  position: relative;
  margin-left: 400px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
}

.whatSreda .whatSreda-content .whatSreda-header::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 225px;
  height: 15px;
  background: url(./../images/whtaSreda-header-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: -20px;
  left: -25px;
}

.whatSreda .whatSreda-content .whatSreda-header::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 225px;
  height: 15px;
  background: url(./../images/whtaSreda-header-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  bottom: -20px;
  right: -35px;
}

.whatSreda .whatSreda-content .whatSreda-block {
  margin-top: 40px;
  border: 4px solid #61C3D9;
  border-radius: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  min-height: 330px;
}

.whatSreda .whatSreda-content .whatSreda-block::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  top: -30px;
  left: 45px;
  background: -webkit-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: -o-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText {
  width: 400px;
  position: relative;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText::before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 15px;
  width: 392px;
  height: 499px;
  background: url(./../images/whatSreda-phone.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul {
  position: absolute;
  width: 169px;
  height: 330px;
  background: #403F3F;
  bottom: 146px;
  left: 168px;
  padding: 33px 15px;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .logo {
  padding-bottom: 46px;
  width: 135px;
  max-width: 100%;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .logo img {
  width: 100%;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item {
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  padding-bottom: 20px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item::before {
  content: "";
  margin-right: 7px;
  min-width: 15px;
  width: 15px;
  height: 15px;
  background: -webkit-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: -o-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  border-radius: 3px;
  display: block;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
  width: calc(100% - 400px);
  padding-top: 85px;
  padding-right: 70px;
  padding-bottom: 70px;
  font-family: "Montserrat";
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.whatSreda .whatSreda-content .whatSreda-block .whatSreda-text .bold {
  font-weight: bold;
}

.whatSreda .whatSreda-content .btns-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 90px;
}

.whatSreda .whatSreda-content .btns-cont .btn-blue {
  width: 50%;
  max-width: 540px;
}

.btn-blue {
  background: #05A3B3;
  border-radius: 20px;
  padding: 18px 80px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
  margin-left: 10px;
}

.twoBlocks {
  padding: 80px 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#05A3B3), to(#00C3DA));
  background: -webkit-linear-gradient(top, #05A3B3 0%, #00C3DA 100%);
  background: -o-linear-gradient(top, #05A3B3 0%, #00C3DA 100%);
  background: linear-gradient(180deg, #05A3B3 0%, #00C3DA 100%);
}

.twoBlocks .twoBlocks-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twoBlocks .twoBlocks-content .block-item {
  width: calc(50% - 40px);
  background: rgba(255, 255, 255, 0.86);
  border-radius: 28px;
  padding: 35px 60px;
}

.twoBlocks .twoBlocks-content .block-item:nth-child(2) {
  margin-top: 40px;
}

.twoBlocks .twoBlocks-content .block-item .block-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 30px;
}

.twoBlocks .twoBlocks-content .block-item .block-header .icon {
  width: 92px;
  min-width: 92px;
}

.twoBlocks .twoBlocks-content .block-item .block-header .icon img {
  max-width: 100%;
}

.twoBlocks .twoBlocks-content .block-item .block-header .name {
  padding-left: 30px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #61C3D9;
}

.twoBlocks .twoBlocks-content .block-item .block-content {
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 36px;
}

.twoBlocks .twoBlocks-content .block-item .block-content p {
  padding-bottom: 30px;
}

.twoBlocks .twoBlocks-content .block-item .block-content .italic {
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.twoBlocks .twoBlocks-content .block-item .block-content .author {
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: right;
}

.slider {
  padding-top: 45px;
  padding-bottom: 60px;
  position: relative;
}

.slider::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 443px;
  height: 407px;
  background: url(./../images/slider-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
  z-index: 1;
}

.slider .slider-content {
  position: relative;
  z-index: 50;
}

.slider .slider-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
}

.slider .slider-block {
  width: 100%;
}

.slider .slider-block .owl-carousel .owl-stage-outer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.slider .slider-block .owl-carousel .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slider .slider-block .owl-carousel .owl-stage-outer .owl-stage .slider-item {
  height: 100%;
}

.slider .slider-block .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 325px;
  right: 325px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider .slider-block .owl-carousel .owl-nav .owl-prev {
  width: 17px;
  height: 40px;
  background: url(./../images/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.18;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.slider .slider-block .owl-carousel .owl-nav .owl-prev:hover {
  opacity: 0.5;
}

.slider .slider-block .owl-carousel .owl-nav .owl-prev span {
  display: none;
}

.slider .slider-block .owl-carousel .owl-nav .owl-next {
  width: 17px;
  height: 40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url(./../images/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.18;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.slider .slider-block .owl-carousel .owl-nav .owl-next:hover {
  opacity: 0.5;
}

.slider .slider-block .owl-carousel .owl-nav .owl-next span {
  display: none;
}

.slider .slider-block .slider-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px 40px rgba(196, 195, 195, 0.35), inset 0px 4px 4px #BBBBBB, inset 0px 4px 53px #E8E8E8;
          box-shadow: 0px 4px 50px 40px rgba(196, 195, 195, 0.35), inset 0px 4px 4px #BBBBBB, inset 0px 4px 53px #E8E8E8;
  border-radius: 38px;
  padding: 20px 30px;
}

.slider .slider-block .slider-item .slider-item-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 25px;
}

.slider .slider-block .slider-item .slider-item-header .name {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-right: 15px;
}

.slider .slider-block .slider-item .slider-item-header .icon {
  width: 75px;
  min-width: 75px;
}

.slider .slider-block .slider-item .slider-item-header .icon img {
  width: 100%;
}

.slider .slider-block .slider-item .slider-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider .slider-block .slider-item .slider-row .text-col {
  width: 100%;
  padding-right: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.slider .slider-block .slider-item .slider-row .text-col .bold {
  font-weight: 700;
}

.slider .slider-block .slider-item .slider-row .text-col .italic {
  font-style: italic;
  font-weight: 700;
  padding-top: 20px;
}

.slider .slider-block .slider-item .slider-row .text-col ul {
  padding-top: 20px;
  list-style: '•';
}

.slider .slider-block .slider-item .slider-row .text-col ul li {
  padding-left: 10px;
}

.slider .slider-block .slider-item .slider-row .img-col {
  width: 50%;
}

.slider .slider-block .slider-item .slider-row .img-col.img-60 {
  width: 60%;
  min-width: 60%;
}

.slider .slider-block .slider-item .slider-row .img-col.img-45 {
  width: 45%;
  min-width: 45%;
}

.slider .slider-block .slider-item .slider-row .img-col.img-35 {
  width: 35%;
  min-width: 35%;
}

.slider .slider-block .slider-item .slider-row .img-col img {
  width: 100%;
}

.slider .btns-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: -30px;
  padding-left: 70px;
  padding-right: 70px;
}

.slider .btns-cont .btn-blue {
  width: 50%;
  max-width: 540px;
}

.steps {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.steps::before {
  content: "";
  position: absolute;
  width: 595px;
  height: 456px;
  background: url(./../images/steps-bg-top.svg);
  background-position: top right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.steps::after {
  content: "";
  position: absolute;
  width: 1156px;
  height: 402px;
  background: url(./../images/steps-bg-bottom.svg);
  background-position: top right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  bottom: 0px;
  right: 50px;
  z-index: 1;
}

.steps .bg-rhombs {
  content: "";
  position: absolute;
  width: 380px;
  height: 304px;
  background: url(./../images/steps-bg-top-rhoms.svg);
  background-position: top right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: 0px;
  right: 0px;
  z-index: 55;
}

.steps .steps-content {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 60px;
  position: relative;
  z-index: 50;
}

.steps .steps-content .steps-header {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #000000;
}

.steps .steps-content .steps-under-header {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #61C3D9;
}

.steps .steps-content .steps-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 45px;
}

.steps .steps-content .steps-list .step-item {
  padding-bottom: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.steps .steps-content .steps-list .step-item:nth-child(1) .step-text {
  margin-left: 35px;
}

.steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 150px;
  right: -270px;
  border-bottom: 4px dashed #000000;
  z-index: 2;
}

.steps .steps-content .steps-list .step-item:nth-child(2) {
  padding-left: 40px;
}

.steps .steps-content .steps-list .step-item:nth-child(2) .step-text {
  margin-left: 60px;
}

.steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -17px;
  right: -200px;
  border-bottom: 4px dashed #000000;
  z-index: 2;
}

.steps .steps-content .steps-list .step-item:nth-child(3) {
  padding-left: 80px;
}

.steps .steps-content .steps-list .step-item:nth-child(3) .step-text {
  margin-left: 80px;
}

.steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 220px;
  right: -400px;
  border-bottom: 4px dashed #000000;
  z-index: 2;
}

.steps .steps-content .steps-list .step-item:nth-child(4) {
  padding-left: 120px;
}

.steps .steps-content .steps-list .step-item:nth-child(4) .step-text {
  margin-left: 100px;
}

.steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: -430px;
  right: -100px;
  border-bottom: 4px dashed #000000;
  z-index: 2;
}

.steps .steps-content .steps-list .step-item:nth-child(4) .step-text::before {
  content: "";
  position: absolute;
  bottom: -43px;
  left: -440px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: -webkit-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: -o-linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  background: linear-gradient(45deg, #00C3DA 5.24%, #05A3B3 86.37%);
  z-index: 5;
}

.steps .steps-content .steps-list .step-item:nth-child(5) {
  padding-left: 160px;
}

.steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
  margin-left: 110px;
}

.steps .steps-content .steps-list .step-item .step-number {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 68px #CAE1F2, inset 0px 4px 4px #05A3B3, inset 0px 4px 53px #61C3D9;
          box-shadow: 0px 4px 68px #CAE1F2, inset 0px 4px 4px #05A3B3, inset 0px 4px 53px #61C3D9;
  border-radius: 38px;
  padding: 20px 50px;
  min-width: 230px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #05A3B3;
  text-align: center;
}

.steps .steps-content .steps-list .step-item .step-text {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  position: relative;
  margin-left: 35px;
}

.steps .steps-content .steps-list .step-item .bold {
  font-weight: bold;
}

.steps .steps-content .bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 170px;
}

.steps .steps-content .bottom-row .btn-wrap {
  padding-right: 30px;
  max-width: 40%;
}

.steps .steps-content .bottom-row .btn-wrap .btn-blue {
  width: 390px;
  max-width: 100%;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 20px;
}

.steps .steps-content .bottom-row .text-col {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  max-width: 730px;
}

@media screen and (max-width: 1350px) {
  .whatSreda .bg-rhomb1 {
    width: 150px;
    height: 150px;
    top: 90px;
    right: 20px;
  }
  .whatSreda .bg-rhomb2 {
    width: 150px;
    height: 150px;
    bottom: 94px;
    right: -50px;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    font-size: 52px;
    line-height: 64px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }
  .twoBlocks .twoBlocks-content .block-item {
    padding: 30px 40px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header {
    padding-bottom: 20px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .icon {
    width: 70px;
    min-width: 70px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .name {
    font-size: 32px;
    line-height: 38px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content {
    font-size: 24px;
    line-height: 30px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content p {
    padding-bottom: 20px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content .italic,
  .twoBlocks .twoBlocks-content .block-item .block-content .author {
    font-size: 18px;
    line-height: 24px;
  }
  .slider .slider-header {
    font-size: 58px;
    line-height: 64px;
  }
  .slider .slider-block .slider-item .slider-item-header .name {
    font-size: 38px;
    line-height: 48px;
  }
  .slider .slider-block .slider-item .slider-item-header .icon {
    width: 50px;
    min-width: 50px;
  }
  .slider .slider-block .slider-item .slider-row .text-col {
    font-size: 14px;
    line-height: 18px;
  }
  .steps .bg-rhombs {
    width: 380px;
    height: 304px;
  }
  .steps .steps-content .steps-header {
    font-size: 60px;
    line-height: 68px;
  }
  .steps .steps-content .steps-under-header {
    font-size: 32px;
    line-height: 40px;
  }
  .steps .steps-content .steps-list {
    padding-bottom: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text {
    margin-left: 30px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after {
    left: 120px;
    right: -180px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) {
    padding-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text {
    margin-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after {
    left: -17px;
    right: -150px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) {
    padding-left: 80px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text {
    margin-left: 60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
    left: 160px;
    right: -250px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) {
    padding-left: 120px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text {
    margin-left: 70px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after {
    left: -350px;
    right: -80px;
    border-bottom: 4px dashed #000000;
    z-index: 2;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::before {
    bottom: -43px;
    left: -360px;
    width: 60px;
    height: 60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) {
    padding-left: 160px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 90px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 15px 30px;
    min-width: 170px;
    font-size: 24px;
    line-height: 29px;
  }
  .steps .steps-content .steps-list .step-item .step-text {
    font-size: 22px;
    line-height: 26px;
  }
  .steps .steps-content .bottom-row {
    padding-left: 170px;
  }
  .steps .steps-content .bottom-row .btn-wrap .btn-blue {
    width: 350px;
  }
  .steps .steps-content .bottom-row .text-col {
    font-size: 22px;
    line-height: 28px;
    max-width: 730px;
  }
  .btn-blue {
    padding: 10px 25px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .banner::before {
    height: 30px;
  }
  .banner::after {
    width: 756px;
    height: 756px;
    top: -30px;
    right: 13%;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    font-size: 46px;
    line-height: 52px;
  }
  .twoBlocks .twoBlocks-content .block-item {
    padding: 30px;
    width: calc(50% - 20px);
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .icon {
    width: 60px;
    min-width: 60px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .name {
    font-size: 28px;
    line-height: 34px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content {
    font-size: 22px;
    line-height: 28px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content .italic,
  .twoBlocks .twoBlocks-content .block-item .block-content .author {
    font-size: 18px;
    line-height: 24px;
  }
  .slider {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .slider .slider-header {
    font-size: 48px;
    line-height: 58px;
  }
  .slider .slider-block .owl-carousel .owl-nav {
    left: 175px;
    right: 175px;
  }
  .slider .slider-block .slider-item {
    border-radius: 38px;
    padding: 15px 20px;
  }
  .slider .slider-block .slider-item .slider-item-header {
    padding-bottom: 20px;
  }
  .slider .slider-block .slider-item .slider-item-header .icon {
    width: 40px;
    min-width: 40px;
  }
  .slider .slider-block .slider-item .slider-row .text-col {
    font-size: 14px;
    line-height: 18px;
  }
  .slider .slider-block .slider-item .slider-row .text-col .italic {
    font-style: italic;
    font-weight: 700;
    padding-top: 15px;
  }
  .slider .slider-block .slider-item .slider-row .text-col ul {
    padding-top: 15px;
  }
  .slider .slider-block .slider-item .slider-row .img-col {
    width: 50%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-60 {
    width: 50%;
    min-width: 50%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-45 {
    width: 50%;
    min-width: 50%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-35 {
    width: 50%;
    min-width: 50%;
  }
  .steps .bg-rhombs {
    width: 280px;
    height: 204px;
  }
  .steps .steps-content .steps-header {
    font-size: 48px;
    line-height: 58px;
  }
  .steps .steps-content .steps-under-header {
    font-size: 28px;
    line-height: 34px;
  }
  .steps .steps-content .steps-list {
    padding-bottom: 10px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after {
    left: 80px;
    right: -120px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) {
    padding-left: 30px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text {
    margin-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after {
    left: -15px;
    right: -120px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) {
    padding-left: 60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text {
    margin-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
    left: 130px;
    right: -200px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) {
    padding-left: 90px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text {
    margin-left: 50px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after {
    left: -280px;
    right: -60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::before {
    bottom: -33px;
    left: -290px;
    width: 40px;
    height: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) {
    padding-left: 120px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 60px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 15px 30px;
    min-width: 170px;
    font-size: 24px;
    line-height: 29px;
  }
  .steps .steps-content .steps-list .step-item .step-text {
    font-size: 18px;
    line-height: 24px;
  }
  .steps .steps-content .bottom-row {
    padding-left: 100px;
  }
  .steps .steps-content .bottom-row .btn-wrap .btn-blue {
    width: 350px;
  }
  .steps .steps-content .bottom-row .text-col {
    font-size: 18px;
    line-height: 24px;
    max-width: 730px;
  }
  .btn-blue {
    font-size: 20px;
    line-height: 28px;
    padding: 15px 40px;
  }
}

@media screen and (max-width: 1100px) {
  .whatSreda .bg-rhomb1 {
    width: 120px;
    height: 120px;
    top: 90px;
    right: 0px;
  }
  .whatSreda .bg-rhomb2 {
    width: 120px;
    height: 120px;
    bottom: 94px;
    right: -50px;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    font-size: 40px;
    line-height: 48px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .banner::after {
    width: 600px;
    height: 600px;
    top: -20px;
    right: 15%;
  }
  .banner .banner-content {
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .banner .banner-content .logo {
    max-width: 500px;
  }
  .banner .banner-content .black-text {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 30px;
    max-width: 900px;
  }
  .banner .banner-content .blue-text {
    font-size: 20px;
    line-height: 24px;
    max-width: 600px;
  }
  .whatSreda {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .whatSreda .bg-circle1 {
    width: 500px;
    height: 640px;
  }
  .whatSreda .bg-circle2 {
    width: 500px;
    height: 580px;
  }
  .whatSreda .bg-rhomb1 {
    width: 100px;
    height: 100px;
    top: 90px;
    right: -10px;
  }
  .whatSreda .bg-rhomb2 {
    width: 100px;
    height: 100px;
    bottom: 50px;
    right: -50px;
  }
  .whatSreda .whatSreda-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    margin-left: 300px;
    font-size: 34px;
    line-height: 40px;
  }
  .whatSreda .whatSreda-content .whatSreda-header::before {
    width: 180px;
    height: 13px;
    top: -20px;
    left: -25px;
  }
  .whatSreda .whatSreda-content .whatSreda-header::after {
    width: 180px;
    height: 13px;
    bottom: -20px;
    right: -35px;
  }
  .whatSreda .whatSreda-content .whatSreda-block {
    margin-top: 30px;
    min-height: 300px;
  }
  .whatSreda .whatSreda-content .whatSreda-block::before {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    top: -30px;
    left: 45px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText {
    width: 300px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText::before {
    bottom: 0px;
    left: 15px;
    width: 300px;
    height: 450px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul {
    width: 130px;
    height: 260px;
    bottom: 106px;
    left: 130px;
    padding: 25px 10px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .logo {
    padding-bottom: 46px;
    width: 135px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item {
    padding-bottom: 15px;
    font-size: 10px;
    line-height: 16px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item::before {
    margin-right: 5px;
    min-width: 10px;
    width: 10px;
    height: 10px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
    width: calc(100% - 300px);
    padding-top: 55px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text br {
    display: none;
  }
  .whatSreda .whatSreda-content .btns-cont {
    padding-top: 80px;
  }
  .whatSreda .whatSreda-content .btns-cont .btn-blue {
    max-width: 300px;
  }
  .twoBlocks {
    padding: 60px 50px;
  }
  .twoBlocks .twoBlocks-content .block-item {
    padding: 30px 20px;
    width: calc(50% - 20px);
  }
  .twoBlocks .twoBlocks-content .block-item .block-header {
    padding-bottom: 15px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .icon {
    width: 40px;
    min-width: 40px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .name {
    padding-left: 10px;
    font-size: 26px;
    line-height: 32px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content {
    font-size: 18px;
    line-height: 24px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content p {
    padding-bottom: 15px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content .italic,
  .twoBlocks .twoBlocks-content .block-item .block-content .author {
    font-size: 16px;
    line-height: 22px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content .author {
    padding-bottom: 0px;
  }
  .slider .slider-header {
    font-size: 48px;
    line-height: 58px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .slider .slider-block .owl-carousel .owl-nav {
    left: 75px;
    right: 75px;
  }
  .slider .btns-cont {
    padding-left: 50px;
    padding-right: 50px;
  }
  .slider .btns-cont .btn-blue {
    max-width: 300px;
  }
  .steps .bg-rhombs {
    width: 250px;
    height: 204px;
  }
  .steps .steps-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .steps .steps-content .steps-header {
    font-size: 38px;
    line-height: 48px;
  }
  .steps .steps-content .steps-under-header {
    font-size: 22px;
    line-height: 28px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after {
    left: 60px;
    right: -100px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) {
    padding-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text {
    margin-left: 30px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after {
    left: -15px;
    right: -100px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) {
    padding-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text {
    margin-left: 30px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
    left: 100px;
    right: -160px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) {
    padding-left: 60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text {
    margin-left: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after {
    left: -250px;
    right: -50px;
    bottom: -10px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::before {
    bottom: -28px;
    left: -260px;
    width: 40px;
    height: 40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) {
    padding-left: 80px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 60px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 10px 20px;
    min-width: 150px;
    font-size: 18px;
    line-height: 24px;
  }
  .steps .steps-content .steps-list .step-item .step-text {
    font-size: 18px;
    line-height: 24px;
  }
  .steps .steps-content .bottom-row {
    padding-left: 60px;
  }
  .steps .steps-content .bottom-row .btn-wrap .btn-blue {
    width: 300px;
    font-size: 14px;
    line-height: 16px;
  }
  .steps .steps-content .bottom-row .text-col {
    font-size: 14px;
    line-height: 18px;
    max-width: 730px;
  }
  .btn-blue {
    padding: 15px 40px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 900px) {
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
    right: -50px;
  }
  .steps .steps-content .bottom-row {
    padding-left: 0px;
  }
  .steps .steps-content .bottom-row .btn-wrap {
    max-width: none;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .banner::before {
    height: 20px;
  }
  .banner::after {
    width: 300px;
    height: 300px;
    top: 0px;
    right: 25%;
  }
  .banner .banner-content {
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner .banner-content .logo {
    max-width: 250px;
    width: 60%;
  }
  .banner .banner-content .black-text {
    max-width: 1200px;
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 25px;
    max-width: 500px;
  }
  .banner .banner-content .blue-text {
    font-size: 18px;
    line-height: 24px;
  }
  .whatSreda {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .whatSreda .bg-circle1 {
    width: 350px;
    height: 600px;
  }
  .whatSreda .bg-circle2 {
    width: 350px;
    height: 700px;
  }
  .whatSreda .bg-rhomb1 {
    width: 100px;
    height: 100px;
    top: 90px;
    right: -50px;
  }
  .whatSreda .bg-rhomb2 {
    width: 100px;
    height: 100px;
    bottom: 50px;
    right: -70px;
  }
  .whatSreda .whatSreda-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    margin-left: 200px;
    font-size: 28px;
    line-height: 36px;
  }
  .whatSreda .whatSreda-content .whatSreda-header::before {
    width: 100px;
    height: 10px;
    top: -15px;
    left: -15px;
  }
  .whatSreda .whatSreda-content .whatSreda-header::after {
    width: 100px;
    height: 10px;
    bottom: -15px;
    right: -25px;
  }
  .whatSreda .whatSreda-content .whatSreda-block {
    min-height: 200px;
  }
  .whatSreda .whatSreda-content .whatSreda-block::before {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    top: -20px;
    left: 30px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText {
    width: 200px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText::before {
    width: 200px;
    height: 260px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul {
    width: 85px;
    height: 180px;
    bottom: 70px;
    left: 93px;
    padding: 25px 5px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .logo {
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item {
    padding-bottom: 10px;
    font-size: 8px;
    line-height: 12px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText ul .item::before {
    margin-right: 3px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
    width: calc(100% - 200px);
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .twoBlocks {
    padding: 50px 30px;
  }
  .twoBlocks .twoBlocks-content .block-item {
    padding: 20px 15px;
    width: calc(50% - 10px);
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .icon {
    width: 35px;
    min-width: 35px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-header .name {
    font-size: 20px;
    line-height: 26px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content {
    font-size: 16px;
    line-height: 22px;
  }
  .twoBlocks .twoBlocks-content .block-item .block-content .italic,
  .twoBlocks .twoBlocks-content .block-item .block-content .author {
    font-size: 14px;
    line-height: 20px;
  }
  .slider {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .slider .slider-header {
    font-size: 32px;
    line-height: 38px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider .slider-block .owl-carousel .owl-stage-outer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .slider .slider-block .slider-item {
    -webkit-box-shadow: 0px 4px 30px 25px rgba(196, 195, 195, 0.35), inset 0px 4px 4px #BBBBBB, inset 0px 4px 40px #E8E8E8;
            box-shadow: 0px 4px 30px 25px rgba(196, 195, 195, 0.35), inset 0px 4px 4px #BBBBBB, inset 0px 4px 40px #E8E8E8;
  }
  .slider .slider-block .slider-item .slider-item-header .name {
    font-size: 24px;
    line-height: 32px;
  }
  .slider .slider-block .owl-carousel .owl-nav {
    left: 15px;
    right: 15px;
  }
  .slider .btns-cont {
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .steps .bg-rhombs {
    width: 150px;
    height: 154px;
  }
  .steps .steps-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .steps .steps-content .steps-header {
    font-size: 32px;
    line-height: 38px;
  }
  .steps .steps-content .steps-under-header {
    font-size: 18px;
    line-height: 24px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after {
    left: 30px;
    right: -50px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) {
    padding-left: 0px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after {
    left: -15px;
    right: -40px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) {
    padding-left: 0px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after {
    left: 50px;
    right: -60px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) {
    padding-left: 0px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after {
    left: -20px;
    right: -30px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::before {
    display: none;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) {
    padding-left: 0px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 20px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 10px 20px;
    min-width: 100px;
    font-size: 14px;
    line-height: 18px;
  }
  .steps .steps-content .steps-list .step-item .step-text {
    font-size: 14px;
    line-height: 18px;
  }
  .steps .steps-content .steps-list .step-item .step-text br {
    display: none;
  }
  .steps .steps-content .bottom-row {
    padding-left: 0px;
  }
  .steps .steps-content .bottom-row .btn-wrap .btn-blue {
    width: 250px;
  }
  .steps .steps-content .bottom-row .text-col {
    font-size: 14px;
    line-height: 18px;
    max-width: 730px;
  }
  .btn-blue {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .banner::after {
    width: 300px;
    height: 300px;
    top: 0px;
    right: 20%;
  }
  .whatSreda .whatSreda-content {
    text-align: center;
  }
  .whatSreda .whatSreda-content .whatSreda-header {
    margin-left: 0px;
    text-align: center;
  }
  .whatSreda .whatSreda-content .whatSreda-block {
    min-height: 270px;
    text-align: left;
  }
  .whatSreda .whatSreda-content .btns-cont {
    padding-top: 30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .whatSreda .whatSreda-content .btns-cont .btn-blue {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  .twoBlocks {
    padding: 50px 30px;
  }
  .twoBlocks .twoBlocks-content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .twoBlocks .twoBlocks-content .block-item {
    width: 100%;
  }
  .slider .slider-block .slider-item .slider-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .slider .slider-block .slider-item .slider-row .text-col {
    padding-bottom: 30px;
  }
  .slider .slider-block .slider-item .slider-row .img-col {
    width: 100%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-60 {
    width: 100%;
    min-width: 100%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-45 {
    width: 100%;
    min-width: 100%;
  }
  .slider .slider-block .slider-item .slider-row .img-col.img-35 {
    width: 100%;
    min-width: 100%;
  }
  .slider .btns-cont {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .slider .btns-cont .btn-blue {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  .steps .bg-rhombs {
    display: none;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text, .steps .steps-content .steps-list .step-item:nth-child(2) .step-text, .steps .steps-content .steps-list .step-item:nth-child(3) .step-text, .steps .steps-content .steps-list .step-item:nth-child(4) .step-text, .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(5) .step-text::after {
    border-bottom-width: 2px;
    right: -10px;
  }
  .steps .steps-content .bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .steps .steps-content .bottom-row .btn-wrap .btn-blue {
    width: 100%;
  }
  .steps .steps-content .bottom-row .text-col {
    padding-bottom: 20px;
    text-align: center;
  }
  .btn-blue {
    min-height: 65px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .banner::after {
    width: 300px;
    height: 300px;
    top: 0px;
    right: 13%;
  }
  .banner .banner-content .logo {
    max-width: 250px;
    width: 60%;
  }
  .banner .banner-content .black-text {
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
  }
  .banner .banner-content .blue-text {
    font-size: 14px;
    line-height: 18px;
  }
  .steps .steps-content .steps-header {
    font-size: 28px;
    line-height: 32px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 7px 10px;
    min-width: 70px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 450px) {
  .whatSreda .whatSreda-content .whatSreda-header {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .whatSreda .whatSreda-content .whatSreda-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-phoneText {
    height: 250px;
  }
  .whatSreda .whatSreda-content .whatSreda-block .whatSreda-text {
    width: 100%;
    padding: 30px 20px;
    font-size: 14px;
    line-height: 18px;
  }
  .slider .slider-block .slider-item .slider-item-header {
    padding-bottom: 10px;
  }
  .slider .slider-block .slider-item .slider-item-header .name {
    font-size: 16px;
    line-height: 22px;
    padding-right: 5px;
  }
  .slider .slider-block .slider-item .slider-item-header .icon {
    width: 30px;
    min-width: 30px;
  }
  .slider .slider-block .slider-item .slider-row .text-col {
    font-size: 12px;
    line-height: 16pxs;
  }
  .slider .slider-block .owl-carousel .owl-nav {
    left: 5px;
    right: 5px;
  }
  .steps .steps-content .steps-header {
    font-size: 20px;
    line-height: 28px;
  }
  .steps .steps-content .steps-under-header {
    font-size: 14px;
    line-height: 18px;
  }
  .steps .steps-content .steps-list .step-item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text, .steps .steps-content .steps-list .step-item:nth-child(2) .step-text, .steps .steps-content .steps-list .step-item:nth-child(3) .step-text, .steps .steps-content .steps-list .step-item:nth-child(4) .step-text, .steps .steps-content .steps-list .step-item:nth-child(5) .step-text {
    margin-left: 0px;
    font-size: 12px;
  }
  .steps .steps-content .steps-list .step-item:nth-child(1) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(2) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(3) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(4) .step-text::after, .steps .steps-content .steps-list .step-item:nth-child(5) .step-text::after {
    bottom: -10px;
  }
  .steps .steps-content .steps-list .step-item .step-number {
    padding: 10px 15px;
    min-width: 100px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .steps .steps-content .bottom-row .text-col {
    font-size: 10px;
    line-height: 14px;
  }
  .btn-blue {
    font-size: 12px;
    line-height: 16px;
  }
}
/*# sourceMappingURL=style.css.map */